.card {
  color: var(--main-yellow);
  width: 200px;
  height: 100px;
  background-color: var(--main-dark-red);
  padding-top: 10px;
  position: relative;
  margin: 5px;
  text-align: center;
}
.card h1 {
  font-size: 14px;
}
.card h5 {
  font-size: 12px;
}
.fave-btn {
  /* background-image: url('../heart.svg') no-repeat; */
  border-radius: 10px;
  position: absolute;
  right: 5px;
  width: 10px;
  height: 15px;
}
